{% extends "store/base1.html" %}
{% load static %}
{% block content %} 

  
    	 
		<div class="row justify-content-between">
        <div class="col-md-8 order-md-last">
          <div class="row">
            <div class="col-md-6 text-center">
              <a class="navbar-brand" href="index.html">BOOK <span>EASY</span> <small>BOOK RECOMMENDATION SYSTEM</small></a>
            </div>
            
          </div>
        </div>
        <div class="col-md-4 d-flex">
          <div class="social-media">
            <p class="mb-0 d-flex">
              <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container-fluid">
      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav m-auto">
            <li class="nav-item active"><a href="{% url 'index' %}" class="nav-link">Store</a></li>
            <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
          </ul>
          
          <div class="header-search">
            <form action="search/" method="post">
              {% csrf_token %}
              <input id="query" name="query" class="input search-input" type="text" placeholder="Enter Book Name">
              <button class="search-btn"><i class="fa fa-search"></i></button>
    
            </form>
          </div>
        
            <li class="nav-item"><a href="{% url 'cart' %}"  <i class="fa fa-shopping-cart" style="font-size:36px"></i></a></li>
            <p id="cart-total">{{ cartItems }}</p>
            <li class="nav-item"><a href="{% url 'login' %}" <i class="fa fa-sign-out" style="font-size:36px"></i>Logout</a></li>
            <li class="nav-item"><a href="{% url 'success' %}" <i class="fa fa-list" style="font-size:36px"></i></a></li>
      
        </div>
      </div>
    </nav>
    <!-- END nav -->
    
    <section class="hero-wrap" style="background-image: url({% static 'images/BOOK3.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center">
          <div class="col-md-8 ftco-animate d-flex align-items-end">
          	<div class="text w-100">
	            <h1 class="mb-7">Good books don't give up all their secrets at once</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

  <section>

  <div class="row">
    {% for p in products %}
    <div class="col-lg-4">
      <img class="thumbnail" src="{{ p.imageURL }}">
      <div class="box-element product">
        <h6><strong>{{ p.name }}</strong></h6>
        <hr>

        <button data-product={{ p.id }} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
        
        <h4 style="display: inline-block; float: right"><strong>Rs {{ p.price }}</strong></h4>

        <form action="product/{{ p.id }}/" method="post">
                {% csrf_token %}
                <input type="submit" value="View"/>
        </form>
  
      </div>
    </div>
    {% endfor %}
  </div>    
   
  </section>

	<footer class="ftco-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-sm-12 col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2 logo"><a href="#">Connect</a></h2>
              <p>Far far away, behind the word mountains, far from the countries.</p>
              <ul class="ftco-footer-social list-unstyled mt-2">
                <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
              </ul>
            </div>
          </div>
         
          <div class="col-sm-12 col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Legal</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Join us</a></li>
                <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Blog</a></li>
                <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Privacy &amp; Policy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Company</h2>
              <ul class="list-unstyled">
                <li><a href="{% url 'about' %}"><span class="fa fa-chevron-right mr-2"></span>About Us</a></li>
                                
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon fa fa-map marker"></span><span class="text">Haveli,Motafalia,Jalalpore,Navsari</span></li>
                  <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">9978314804</span></a></li>
                  <li><a href="#"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">yaminaik917@gmail.com</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid px-0 py-5 bg-black">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
    
              <p class="mb-0" style="color: rgba(255,255,255,.5);"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
          </div>
        </div>
      </div>
  </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
{% endblock content %}